/.vs/Konrad Psiuk - CA2 - Golf booking app/DesignTimeBuild/.dtbcache.v2
/.vs/Konrad Psiuk - CA2 - Golf booking app/v17/.futdcache.v2
/.idea/.idea.Konrad Psiuk - CA2 - Golf booking app/.idea/.gitignore
/Database/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/RepositoryUnitTest/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/.vs/Konrad Psiuk - CA2 - Golf booking app/v17/.suo
/.vs/Konrad Psiuk - CA2 - Golf booking app/v17/TestStore/0/000.testlog
/.vs/Konrad Psiuk - CA2 - Golf booking app/FileContentIndex/1b05101c-3b95-4f5b-92bb-84d8694504c3.vsidx
/.vs/Konrad Psiuk - CA2 - Golf booking app/FileContentIndex/38e33bf9-dfe6-408e-b4e5-72957281224c.vsidx
/.vs/Konrad Psiuk - CA2 - Golf booking app/FileContentIndex/1994de1c-08f6-4177-b08e-5c4e7fde981f.vsidx
/.vs/Konrad Psiuk - CA2 - Golf booking app/FileContentIndex/51434f2f-8d6c-41e0-ac19-25c7ef488ac8.vsidx
/Database/obj/Debug/net7.0/_IsIncrementalBuild
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/_IsIncrementalBuild
/RepositoryUnitTest/obj/Debug/net7.0/_IsIncrementalBuild
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/apphost.exe
/Konrad Psiuk - CA2 - Golf booking app/bin/Debug/net7.0/appsettings.Development.json
/Konrad Psiuk - CA2 - Golf booking app/bin/Debug/net7.0/appsettings.json
/RepositoryUnitTest/bin/Debug/net7.0/CoverletSourceRootsMapping
/Database/obj/Debug/net7.0/Database.AssemblyInfo.cs
/Database/obj/Debug/net7.0/Database.AssemblyInfoInputs.cache
/Database/obj/Debug/net7.0/Database.assets.cache
/Database/obj/Debug/net7.0/Database.csproj.AssemblyReference.cache
/Database/obj/Debug/net7.0/Database.csproj.BuildWithSkipAnalyzers
/Database/obj/Debug/net7.0/Database.csproj.CoreCompileInputs.cache
/Database/obj/Database.csproj.EntityFrameworkCore.targets
/Database/obj/Debug/net7.0/Database.csproj.FileListAbsolute.txt
/Database/obj/Database.csproj.nuget.dgspec.json
/Database/obj/Database.csproj.nuget.g.props
/Database/obj/Database.csproj.nuget.g.targets
/Database/bin/Debug/net7.0/Database.deps.json
/Database/bin/Debug/net7.0/Database.dll
/Database/obj/Debug/net7.0/ref/Database.dll
/Database/obj/Debug/net7.0/refint/Database.dll
/Database/obj/Debug/net7.0/Database.dll
/RepositoryUnitTest/bin/Debug/net7.0/Database.dll
/Database/obj/Debug/net7.0/Database.GeneratedMSBuildEditorConfig.editorconfig
/Database/obj/Debug/net7.0/Database.genruntimeconfig.cache
/Database/obj/Debug/net7.0/Database.GlobalUsings.g.cs
/Database/bin/Debug/net7.0/Database.pdb
/Database/obj/Debug/net7.0/Database.pdb
/RepositoryUnitTest/bin/Debug/net7.0/Database.pdb
/Database/bin/Debug/net7.0/Database.runtimeconfig.json
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/browser-wasm/nativeassets/net7.0/e_sqlite3.a
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/win-arm/native/e_sqlite3.dll
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/win-arm64/native/e_sqlite3.dll
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/win-x64/native/e_sqlite3.dll
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/win-x86/native/e_sqlite3.dll
/.idea/.idea.Konrad Psiuk - CA2 - Golf booking app/.idea/encodings.xml
/Database/bin/Debug/net7.0/golfDb.db
/RepositoryUnitTest/bin/Debug/net7.0/golfDb.db
/RepositoryUnitTest/bin/Debug/net7.0/golfDb.db-shm
/RepositoryUnitTest/bin/Debug/net7.0/golfDb.db-wal
/.idea/.idea.Konrad Psiuk - CA2 - Golf booking app/.idea/indexLayout.xml
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.AssemblyInfo.cs
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.AssemblyInfoInputs.cache
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.assets.cache
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/scopedcss/projectbundle/Konrad Psiuk - CA2 - Golf booking app.bundle.scp.css
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.csproj.AssemblyReference.cache
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.csproj.CoreCompileInputs.cache
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.csproj.FileListAbsolute.txt
/Konrad Psiuk - CA2 - Golf booking app/obj/Konrad Psiuk - CA2 - Golf booking app.csproj.nuget.dgspec.json
/Konrad Psiuk - CA2 - Golf booking app/obj/Konrad Psiuk - CA2 - Golf booking app.csproj.nuget.g.props
/Konrad Psiuk - CA2 - Golf booking app/obj/Konrad Psiuk - CA2 - Golf booking app.csproj.nuget.g.targets
/Konrad Psiuk - CA2 - Golf booking app/bin/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.deps.json
/Konrad Psiuk - CA2 - Golf booking app/bin/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.dll
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/ref/Konrad Psiuk - CA2 - Golf booking app.dll
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/refint/Konrad Psiuk - CA2 - Golf booking app.dll
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.dll
/Konrad Psiuk - CA2 - Golf booking app/bin/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.exe
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.GeneratedMSBuildEditorConfig.editorconfig
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.genruntimeconfig.cache
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.GlobalUsings.g.cs
/.vs/ProjectEvaluation/konrad psiuk - ca2 - golf booking app.metadata.v5.2
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.MvcApplicationPartsAssemblyInfo.cache
/Konrad Psiuk - CA2 - Golf booking app/bin/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.pdb
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.pdb
/.vs/ProjectEvaluation/konrad psiuk - ca2 - golf booking app.projects.v5.2
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.RazorAssemblyInfo.cache
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.RazorAssemblyInfo.cs
/Konrad Psiuk - CA2 - Golf booking app/bin/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.runtimeconfig.json
/Konrad Psiuk - CA2 - Golf booking app.sln.DotSettings.user
/Konrad Psiuk - CA2 - Golf booking app/bin/Debug/net7.0/Konrad Psiuk - CA2 - Golf booking app.staticwebassets.runtime.json
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/scopedcss/bundle/Konrad Psiuk - CA2 - Golf booking app.styles.css
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/maccatalyst-arm64/native/libe_sqlite3.dylib
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/maccatalyst-x64/native/libe_sqlite3.dylib
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/osx-arm64/native/libe_sqlite3.dylib
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/osx-x64/native/libe_sqlite3.dylib
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/alpine-arm/native/libe_sqlite3.so
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/alpine-arm64/native/libe_sqlite3.so
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/alpine-x64/native/libe_sqlite3.so
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/linux-arm/native/libe_sqlite3.so
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/linux-arm64/native/libe_sqlite3.so
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/linux-armel/native/libe_sqlite3.so
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/linux-mips64/native/libe_sqlite3.so
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/linux-musl-arm/native/libe_sqlite3.so
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/linux-musl-arm64/native/libe_sqlite3.so
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/linux-ppc64le/native/libe_sqlite3.so
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/linux-s390x/native/libe_sqlite3.so
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/linux-x64/native/libe_sqlite3.so
/RepositoryUnitTest/bin/Debug/net7.0/runtimes/linux-x86/native/libe_sqlite3.so
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.Data.Sqlite.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Sqlite.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.Extensions.Caching.Abstractions.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.Extensions.Caching.Memory.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Abstractions.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/RepositoryUnitTest/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
/RepositoryUnitTest/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/RepositoryUnitTest/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/RepositoryUnitTest/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/RepositoryUnitTest/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/RepositoryUnitTest/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/staticwebassets/msbuild.build.Konrad Psiuk - CA2 - Golf booking app.props
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Konrad Psiuk - CA2 - Golf booking app.props
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Konrad Psiuk - CA2 - Golf booking app.props
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/staticwebassets/msbuild.Konrad Psiuk - CA2 - Golf booking app.Microsoft.AspNetCore.StaticWebAssets.props
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
/RepositoryUnitTest/bin/Debug/net7.0/Newtonsoft.Json.dll
/RepositoryUnitTest/bin/Debug/net7.0/NuGet.Frameworks.dll
/Database/obj/project.assets.json
/Konrad Psiuk - CA2 - Golf booking app/obj/project.assets.json
/RepositoryUnitTest/obj/project.assets.json
/Database/obj/project.nuget.cache
/Konrad Psiuk - CA2 - Golf booking app/obj/project.nuget.cache
/RepositoryUnitTest/obj/project.nuget.cache
/Database/obj/project.packagespec.json
/Konrad Psiuk - CA2 - Golf booking app/obj/project.packagespec.json
/RepositoryUnitTest/obj/project.packagespec.json
/.idea/.idea.Konrad Psiuk - CA2 - Golf booking app/.idea/inspectionProfiles/Project_Default.xml
/.vs/Konrad Psiuk - CA2 - Golf booking app/FileContentIndex/read.lock
/RepositoryUnitTest/obj/Debug/net7.0/RepositoryUnitTest.AssemblyInfo.cs
/RepositoryUnitTest/obj/Debug/net7.0/RepositoryUnitTest.AssemblyInfoInputs.cache
/RepositoryUnitTest/obj/Debug/net7.0/RepositoryUnitTest.assets.cache
/RepositoryUnitTest/obj/Debug/net7.0/RepositoryUnitTest.csproj.AssemblyReference.cache
/RepositoryUnitTest/obj/Debug/net7.0/RepositoryUnitTest.csproj.CopyComplete
/RepositoryUnitTest/obj/Debug/net7.0/RepositoryUnitTest.csproj.CoreCompileInputs.cache
/RepositoryUnitTest/obj/Debug/net7.0/RepositoryUnitTest.csproj.FileListAbsolute.txt
/RepositoryUnitTest/obj/RepositoryUnitTest.csproj.nuget.dgspec.json
/RepositoryUnitTest/obj/RepositoryUnitTest.csproj.nuget.g.props
/RepositoryUnitTest/obj/RepositoryUnitTest.csproj.nuget.g.targets
/RepositoryUnitTest/bin/Debug/net7.0/RepositoryUnitTest.deps.json
/RepositoryUnitTest/bin/Debug/net7.0/RepositoryUnitTest.dll
/RepositoryUnitTest/obj/Debug/net7.0/ref/RepositoryUnitTest.dll
/RepositoryUnitTest/obj/Debug/net7.0/refint/RepositoryUnitTest.dll
/RepositoryUnitTest/obj/Debug/net7.0/RepositoryUnitTest.dll
/RepositoryUnitTest/obj/Debug/net7.0/RepositoryUnitTest.GeneratedMSBuildEditorConfig.editorconfig
/RepositoryUnitTest/obj/Debug/net7.0/RepositoryUnitTest.genruntimeconfig.cache
/RepositoryUnitTest/obj/Debug/net7.0/RepositoryUnitTest.GlobalUsings.g.cs
/RepositoryUnitTest/bin/Debug/net7.0/RepositoryUnitTest.pdb
/RepositoryUnitTest/obj/Debug/net7.0/RepositoryUnitTest.pdb
/RepositoryUnitTest/bin/Debug/net7.0/RepositoryUnitTest.runtimeconfig.json
/Database/obj/rider.project.restore.info
/RepositoryUnitTest/obj/rider.project.restore.info
/RepositoryUnitTest/bin/Debug/net7.0/SQLitePCLRaw.batteries_v2.dll
/RepositoryUnitTest/bin/Debug/net7.0/SQLitePCLRaw.core.dll
/RepositoryUnitTest/bin/Debug/net7.0/SQLitePCLRaw.provider.e_sqlite3.dll
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/staticwebassets.build.json
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/staticwebassets.development.json
/Konrad Psiuk - CA2 - Golf booking app/obj/Debug/net7.0/staticwebassets.pack.json
/RepositoryUnitTest/bin/Debug/net7.0/testhost.dll
/RepositoryUnitTest/bin/Debug/net7.0/testhost.exe
/.vs/Konrad Psiuk - CA2 - Golf booking app/v17/TestStore/0/testlog.manifest
/.idea/.idea.Konrad Psiuk - CA2 - Golf booking app/.idea/vcs.xml
/RepositoryUnitTest/bin/Debug/net7.0/xunit.abstractions.dll
/RepositoryUnitTest/bin/Debug/net7.0/xunit.assert.dll
/RepositoryUnitTest/bin/Debug/net7.0/xunit.core.dll
/RepositoryUnitTest/bin/Debug/net7.0/xunit.execution.dotnet.dll
/RepositoryUnitTest/bin/Debug/net7.0/xunit.runner.json
/RepositoryUnitTest/bin/Debug/net7.0/xunit.runner.reporters.netcoreapp10.dll
/RepositoryUnitTest/bin/Debug/net7.0/xunit.runner.utility.netcoreapp10.dll
/RepositoryUnitTest/bin/Debug/net7.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
